@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.showcase {
  height: 90vh;
}
.quote {
  padding: 5px;
  border-left: 2px solid rgb(88, 0, 49);
  margin-left: 40px;
}

@media (max-width: 576px) {
  .showcase {
    height: 70vh;
  }
  .display-3 {
    font-size: 2rem;
  }
  .showcase-content h1 {
    text-align: left !important;
  }
  .showcase-content .quote {
    font-size: 1rem;
    margin-left: 0;
    text-align: left !important;
  }
  .showcase-content .tagline {
    font-size: 1rem;
    padding: 0 !important;
  }
}
