*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Nunito Sans', sans-serif;
}


:root {
  
  --background: #121212;

  --black: rgb(20,20,20);
  --dark-gray: rgb(75,75,75);
  --light-gray: rgb(185,185,185);
  --white: rgb(240, 255, 240);

}  

hr{
    border-bottom:2px solid rgb(68, 169, 209);
    margin-left:100px;
    margin-right:100px;
}



@media(max-width:1024px)
{
          .home-container{
            height:60vh !important;
          }

          .home-text{
            padding-right:10px !important;
        }
        .home-image{
            padding-left: 0px !important;
        }

        .about-container{
            height:50vh !important;
            margin-top:10vh !important;
            margin-bottom:10vh !important;
        }
    
        .about-text{
            padding-left:10px !important;
        }
        .about-image{
            padding-right: 75px !important;
        }

}


@media(max-width:768px)
{
    

    hr{
        display:none !important;
    }
      
    *{
        font-size:14px !important;
    }
    
    a.nav-link:hover{
        border-bottom:2px solid transparent !important;
        font-weight:bold !important;
      }

    .home-text{
        padding-right:10px !important;
    }
    .home-image{
        padding-left: 0px !important;
    }

    .about-text{
        padding-left:10px !important;
    }
    .about-image{
        padding-right: 0px !important;
    }
    
    .about-container{
        margin-top:10vh !important;
        margin-bottom:10vh !important;
    }

    .symptoms-container{
    margin-bottom: 20vh !important;
    }
}