@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background: honeydew !important;
}
.showcase {
  height: 90vh;
  background-color: honeydew;
}
.quote {
  padding: 5px;
  border-left: 2px solid rgb(0, 88, 19);
  margin-left: 20px;
}
.StatePicker_formControl__UIZop {
  margin-bottom: 0 !important;
}
.content {
  height: 60vh;
  background-color: rgb(252, 225, 255);
}

@media (max-width: 576px) {
  .showcase {
    height: 70vh;
  }
  .display-3 {
    font-size: 2rem;
  }
  .showcase-content h1 {
    text-align: left !important;
  }
  .showcase-content .quote {
    font-size: 1rem;
    margin-left: 0;
    text-align: left !important;
  }
  .showcase-content .tagline {
    font-size: 0.9rem;
    padding: 0 !important;
  }
  .state {
    margin-right: 0;
  }
}
